.form {
    background: repeating-linear-gradient(
        45deg,
        #222,
        #222 0.3rem,
        #000 0.3rem,
        #000 0.6rem
    );
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem 2rem 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-color: orange;
    border-width: thin;
    box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
    box-sizing: border-box;
    width: 90%;
}
  
.form h2{
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-weight: 600;
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 0.1em;
}

input[type=text], textarea[type=text]  {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #222;
  border-width: thin;
  background-color: #000;
  width: 90%;
  padding: 1rem;
  margin: 0.6rem 0;
}

input[type=text]:focus {
  border: solid orange 1px !important;
}

.btn-warning {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff !important;
  text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.30);
  background: radial-gradient(#ffb733, #e69500);
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.30), 0 0.5rem 0.5rem rgba(0,0,0,0.35);
  border-radius: 0.3rem;
  border: #f69714 solid;
  border-width: thin;
}

.btn-dark {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff !important;
  text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.30);
  background: radial-gradient(#444, #333);
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.30), 0 0.5rem 0.5rem rgba(0,0,0,0.35);
  border-radius: 0.3rem;
  border: black solid;
  border-width: thin;
}

.no-padding-bottons-form {
  padding: 0 !important;
}