body {
  background-image: url(./../images/background-chile-aoe.png);
  background-repeat: repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  position: relative;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
/* ---------------------------------------------------------------*/

  
/* home cards*/
.home-cards{
  color: #CCCCCC;
  background-color: black !important;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  width: 80%;
}
  
.home-card-headers{
  background-color: #000 !important;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  text-align: center;
  border-bottom:  #E7A70F solid thin !important; 
  font-size: 1.7rem;
}
  
.home-card-bodies{
  background: repeating-linear-gradient(
    45deg,
    #222,
    #222 0.3rem,
    #000 0.3rem,
    #000 0.6rem
  );
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  align-items: center;
  width: 100%;
}
  
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
  
.border-card-home{
  border-top:orange 1.2px solid !important;
  border-bottom:orange 1.2px solid !important;
}

  
