/*twitch*/

.twitch-home-scroll-box {
    max-height: 13.2em;
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.twitch-home-scroll-box::-webkit-scrollbar {
  max-width: 0.75em;
} 

.twitch-home-scroll-box::-webkit-scrollbar-track {
  visibility: hidden;
}

.twitch-home-scroll-box::-webkit-scrollbar-track:hover {
  visibility: visible;
  background: #000;
}

.twitch-home-scroll-box::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.twitch-home-scroll-box::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: #333; 
  border-radius: 1em;
}

.image-twitch-index {
  border: orange solid;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  width: 100%;
  max-width: 260px;
  max-height: 150px;
}
    
.row-image-twitch {
  position: relative;
}

.row-image-twitch:hover {
  background-color: black;
  cursor: pointer;
  border-top:  #E7A70F 1px solid;
  border-bottom:  #E7A70F 1px solid;
  margin-top: -1px;
  margin-bottom: -1px;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
}

.twitch-name-profile {
  position: absolute;
  border-radius: 3px; 
  background-color: #3D4148; 
  padding: 3px 6px; 
  border: medium solid #111; 
  color: #E7A70F; 
  font-size: 1.1rem;
  top: 0.5rem;
}
    
.twitch-name-profile h5 {
  margin-bottom: 0;
}
  
.icon-twitch-header-home {
  font-size: 1.5rem !important;
  padding-right: 0.1rem;
}
  
.twitch-card-body{
 background: repeating-linear-gradient(
   45deg,
   #222,
   #222 0.3rem,
   #000 0.3rem,
   #000 0.6rem
 );
 box-sizing: border-box;
 border-radius: 0rem;
 width: 100%;
}
  
.twitch-card-video {
  box-sizing: border-box;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  border-top: thin solid orange;
  border-bottom: thin solid orange;
  width: 100%;
}

.image-twitch-user {
  border-radius: 100%;
  width: 3.2em;
  height: 3.2em;
  border: 4px solid black;
}

.twitch-user-name {
  text-decoration: none;
  color: #ccc;
  font-size: 0.85em;
  font-weight: 600;
  margin-left: 1.2rem;
}

.scroll-box {
  max-height: 26em;
  overflow-y: scroll;
}
  
.scroll-box::-webkit-scrollbar {
  max-width: 0.6em;
} 

.scroll-box::-webkit-scrollbar-track {
  visibility: hidden;
}

.scroll-box::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: #333; 
  border-radius: 1em;
}

.red-dot {
  height: 0.5em;
  width: 0.5em;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
}
  
.green-dot {
  height: 0.5em;
  width: 0.5em;
  background-color:greenyellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
}

.twitch-home-video-container {
  padding-left: 0 !important;
  padding-right: 20% !important;
}

.home-card-twitch{
  background: repeating-linear-gradient(
    45deg,
    #222,
    #222 0.3rem,
    #000 0.3rem,
    #000 0.6rem
  );
  box-sizing: border-box;
  width: 100%;
}

.no-padding-right {
  padding-right: 0 !important;
}

